@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #111111;
}

.logo {
    filter: drop-shadow(0px 0px 20px #3a3a3a);
}

.Hero {
    background: linear-gradient(to top, rgba(217, 217, 217, 0.03), #111111);
}

.card {
    background: linear-gradient(to top left, #111111, #1E1E1E);
}

.card-last {
    background: linear-gradient(to top left, #111111, #FFBD00);
}

.Tesla {

    filter: drop-shadow(0px 0px 20px #3a3a3a);
}

.button:hover {
    filter: drop-shadow(8px 10px 0px #1E1E1E);
}